<div class="menu margin-pad">
  <div class="menu-button">
    <img class="menu-icon" src="../../assets/Images/home.png" />
    <button class="small-margin-pad" active routerLink="/choice">Home</button>
  </div>
  <div class="menu-button">
    <img class="menu-icon" src="../../assets/Images/searchh.png" />
    <button class="small-margin-pad" routerLink="/search-lib">Search</button>
  </div>
  <div class="menu-button">
    <img class="menu-icon" src="../../assets/Images/libraryy.png" />
    <button class="small-margin-pad" routerLink="/library">Your Library</button>
  </div>
  <br />
  <h5 class="small-margin-pad" style="color: aliceblue">PLAYLISTS</h5>
  <div class="menu-button">
    <img class="menu-icon" src="../../assets/Images/pluss.png" />
    <button class="small-margin-pad" routerLink="/library">
      Create Playlist
    </button>
  </div>
  <div class="menu-button" id="dropdown">
    <div class="w-100">
      <ul class="list-group p-2">
        <li
          class="list-group-item button"
          (click)="choosePlaylist(playlist)"
          style="cursor: pointer; background-color: rgb(237, 231, 231)"
          *ngFor="let playlist of playlistService.playlists"
        >
          {{ playlist.name }}
        </li>
      </ul>
    </div>
  </div>

  <hr />
</div>
