<div class="container">
  <br>
  <br>
  <div class="row">
    <input
      class="form-control"
      type="text"
      name="search"
      [(ngModel)]="searchText"
      autocomplete="off"
      placeholder="Start searching for a song"
    />
    <br>
    <br>
    <br>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>S.No.</th>
          <th>Song</th>
          <th>Musician</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let song of songs | filter: searchText">
          <td >{{ song.sno }}</td>
          <td appTransform>{{song.name}}</td>
          <td >{{ song.musician }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
