    <div id="outer">
      <app-header></app-header>
    <div class="container-xxl">
      <div class="row group eql-row row-eq-height">
        <div class="col-2 p-0 bg">
          <div class="eql-col">
            <app-menu (featureSelected)="onNavigate($event)"></app-menu>
          </div>
        </div>
        <div class="col-10 py-2 m-0 bg" id="choice">
          <div class="eql-col p-0 ">
            <router-outlet></router-outlet>
          </div>
          <!-- <app-choice *ngIf="loadedFeature === 'home'"></app-choice> -->
        </div>
      </div>
    </div>
    </div>

