<!-- <div class="bg"> -->
<!-- {{ heading[2] }} -->
<!-- <app-list class="list" id="first"></app-list>
    <app-list class="list" id="second"></app-list>
    <app-list class="list" id="third"></app-list>
    <app-list class="list"></app-list>
    <app-list class="list"></app-list>
</div>
<p>choice works!</p> -->

<!-- <body>

    <div class="menu-wrapper">
        <ul class="menu">
            <li class="item">1</li>
        </ul>
    
        <div class="paddles">
            <button class="left-paddle paddle hidden">
                <
            </button>
            <button class="right-paddle paddle">
                >
            </button>
        </div>
    </div>
</body> -->


<ul class="bg myUL">
  <li *ngFor="let listData of lists">
    <app-list [heading]="listData.name" [items]="listData.songs"> </app-list>
    <hr color="white" />
  </li>
</ul>
